@model Iss.LiveClassRoom.Core.Models.Quiz

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeDeletedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeDeletedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedByUserId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
