@model Iss.LiveClassRoom.FrontEnd.Models.InstructorViewModel

@{
    ViewBag.Title = "Details";
}

<nav class="toolbar top-buffer">
    <div class="row">
        <h2 class="col-sm-7 col-xs-12">@ViewBag.Title</h2>
        @if (User.IsInRole("Admin")) {
           
        }

        <div class="col-sm-5 col-xs-12 toolbar-btn">
            <div class="btn-group" style="line-height:0;">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span> Options <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-left" role="menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
                    <li>@Html.ActionLink("Back to Menu", "Index")</li>
                    <li class="divider"></li>

                    @*@if (Model.HasAccess(User, Permissions.Edit)) {
                       
                    }
                    @if (Model.HasAccess(User, Permissions.List)) {
                        
                    }
                    
                    @if (canCreateEmployee) {
                        <li>@Html.ActionLink("Add Employee", "Create", "Employee", new { id = Model.Id }, null)</li>
                    }*@
                </ul>
            </div>
        </div>

    </div>
</nav>


<div class="detailbody">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>