@model Iss.LiveClassRoom.FrontEnd.Models.VideoViewModel

@{
    ViewBag.Title = "Details";
}

<nav class="toolbar top-buffer">
    <div class="row">
        <h2 class="col-sm-7 col-xs-12">@ViewBag.Title</h2>
        @if (User.IsInRole("Admin"))
        {

        }

        <div class="col-sm-5 col-xs-12 toolbar-btn">
            <div class="btn-group" style="line-height:0;">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span> Options <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-left" role="menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
                    <li>@Html.ActionLink("Back to Menu", "Index")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Create Topic", "Create", "Topics" , new { id = Model.Id }, null)</li>
                </ul>
            </div>
        </div>

    </div>
</nav>


<div class="detailbody text-center">
    <video controls style="width:100%; max-height:300px;">
        <source src="~/Content/Videos/@(ViewBag.FileName)" type="video/mp4">
        <source src="~/Content/Videos/@(ViewBag.FileName)" type="video/ogg">
        <source src="~/Content/Videos/@(ViewBag.FileName)" type="video/mpeg">
        <source src="~/Content/Videos/@(ViewBag.FileName)" type="video/quicktime">
        <source src="~/Content/Videos/@(ViewBag.FileName)" type="video/webm">
    </video>
</div>


@{
    Html.RenderPartial("~/Views/Topics/_PartialFeed.cshtml", Model.Feed);
}

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/site.js"></script>
    <script>
        $(function () {
            Iss.ChatFunction('@Model.Feed.Id');
            @foreach (var item in Model.Feed.Comments.OrderBy(x => x.TimeCreatedUtc)) {
                @:Iss.AddMessageToView('@item.User.Name', '@item.Text', '@item.TimeCreatedUtc')
            }
            Iss.RefreshView();
        })
    </script>
}